
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    display: flex;
    width: 600px;
    background: lightblue;
    
}

.post {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    background: lightblue;

}

.PostFilter {
    width: 100px;
    /*background: lightblue;*/
}
